<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./partials/head.ejs") %>
</head>
<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <h1 class="title">About <%=restaurant.name %></h1>
    <div class="info-container">
        <div class="previous">
            <span class="lnr lnr-arrow-left-circle"></span>
        </div>
        <div class="img-carousel">
            <% for (let i = 0; i < restaurant.foodImage.length; i++) { %> 
            <img class="carousel" src="<%=restaurant.foodImage[i]%>" alt=""/>  
        <% } %>
        </div>
        <div class="next">
            <span class="lnr lnr-arrow-right-circle"></span>
        </div> 
        <ul>
            <li>Rating: <%=restaurant.rating%> out of 5 </li>
            <li>Price: <%=restaurant.price%> out of 5</li>
            <li>Tags: <%=restaurant.tags.join(", ")%></li>
            <li>Address: <%=restaurant.location.streetNumber%>, <%=restaurant.location.city%>, <%=restaurant.location.state%> <%=restaurant.location.zipcode%></li>
        </ul> <br>
        <form class="show" action="/<%=restaurant.id%>?_method=DELETE" method="POST">
            <input class="delete" type="submit" value="Delete restaurant">
        </form>
        <a href="/<%=restaurant.id%>/edit"><button class="show edit">Edit Restaurant Details</button></a>
</body>
</html>